export(anamorph, Hill.N2.core, jointsig, mat.h,  multi.mat,obs.cor,  plot.js, plot.obscor,identify.obscor, plot.palaeoSig, plot.RNE, randomTF, ModelMaker, randomTFmm, rne, rotate, simulateSpatial)
import(vegan)
import(gstat)
import(rioja)
import(fields)
import(mapproj)
